.Posters{

    display: flex;
    height: 450px;

    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.slider{
    display: flex;
    justify-content: center;
    height: 450px;
    width: 100%;
}

#Poster{
    display: flex;
    width: 400px;
    height: 450px;
}

.arrow{
    margin:0;
    padding: 0;
    display: flex;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}