
img{
    position: relative;

    width: 256px;
    height: 500px;
    z-index: 1;
}
.NameOfFilm{
    text-align: center;
    position: absolute;
    z-index: 2;
}
.DescribingBtn{
    top: 410px;
    left: 40px;
    position: absolute;
    z-index: 2;
}
.DescribingText{
    text-align: center;
    position: absolute;
    z-index: 2;

}

.ContentOnImg{
    position: relative;
}

#Poster:hover img{
              filter: blur(5px);
}
#Poster{
    position: relative;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
