.posts-field{
    background-color: #ffc822;
    height: 100%;
    width: 100%;
    margin-top: 65px;
    overflow-y: auto;
}

.plus-button {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    padding: 0;
    margin-right: 30px;
    margin-top: 0px;

}

.plus-button img{
    margin-top: 10px;
    height: 40px;
    width: 40px;
}

.plus-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.postss {
    padding-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}