.modal-window{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

}

.dark-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: 0.3;
    filter: alpha(opacity=30);

}

.login-form {
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* центрирование */

    margin: auto;
    /* центрирование */

    height: 350px;
    width: 400px;

    background: white no-repeat;
}

input {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.login-form .submit-button {
    position: absolute;
    bottom: 20px;
    left: 150px;
    width: 100px;
    height: 50px;

    border-radius: 8px;
    z-index: 2;
}

.error-message {
    margin-top: 10px;
    display: flex;
    align-items:center;
    background-color: #ffa57b;
    border: 1px solid red;
    border-radius: 5px;

    padding: 10px 5px 10px 5px;
}