.Avatar{
    display: block;
    float:left;
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
    background-image: url("../textures/defaultAvatar.jpg");
    margin: 6px 18px 6px 6px;
    border-radius: 5px;
}
.Nickname{
    margin-top: 1vh;
    font-weight: bold;
    font-size: 15pt;

}
.Date{
    font-size: 8pt;
    margin-bottom: 20px;
}

.main{
    float: left;
}

.CommentText{
    position: relative;
    margin-left: 120px;
}
.Comment{

    border-radius: 5px;

    background: #FF7C22;
    margin:  15px;
    padding: 10px;
}