.merger {
    height: 100%;
}

#sliderField {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    background: url(textures/mainPageBackground.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#menuField {
    position: absolute;
    height: 65px;
    width: 100%;
    z-index:3;
    background: #000515;
}

.full-screen {
    height: 100%;
    width: 100%;
}