#img{
    display:block; margin:5px auto;
    text-align:center;
}
h2{
    text-align:center;
    color: #ffc822;
}
#Description{
    padding: 5px;
    color: #ffc822;
}
.block-left{
    width:35%;
    height:800px;
    overflow:auto;
    float:left;
    padding: 10px;
    background: black;
}
.block-right{
    width:65%;
    height:800px;
    overflow:auto;
    padding: 10px;
}
