.PosterInInfo{
    display:block;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    text-align:center;
    border-radius: 30px;
    height: 30vw;
}
h2{
    text-align:center;
    color: #ffc822;
}
#Description{
    text-align: center;
    padding: 40px;
    color: #ffc822;
    background: black;
}
.block-left{
    position: relative;
    width:35%;
    height: 100%;
    float:left;
    background: black;
    padding-bottom: 20px;
}
.block-right{
    width:65%;
    height: 100%;
    float:left;
    overflow: visible;
    padding: 10px;
}
.InfoFilm{
    height: 100%;
    overflow: auto;
    margin-top: 120px;
    margin-bottom: 60px;
    background-image: url("./textures/black.png");
    background-size: 35% 100000px;
    background-repeat: no-repeat;
}

.block-left:after{
    position: absolute;
    height: 100%;
}

.block-right:after{
    position: absolute;
    height: 100%;
}

.trailer{


    height: 40vh;
    margin-left: 20%;
    margin-top: 7%;
    margin-bottom: 5%;
}
.ChooseDate{
    fontWeight:500;

    height: 60px;
    overflow: hidden;
}
