#img{
    display:block; margin:5px auto;
    text-align:center;
}
h2{
    text-align:center;
    color: #ffc822;
}
#Description{
    padding: 5px;
    color: #ffc822;
    background: black;
}
.block-left{
    width:35%;
    height: 110%;
    oveflow:auto;
    float:left;
    padding: 10px;
    background: black;
}
.block-right{
    width:65%;
    height: 110%;
    overflow:auto;
    padding: 10px;
}
.InfoFilm{
    height: 100%;
    overflow: auto;
    margin-top: 120px;

}
