.info-fieldd{
    background-color: #000007;
    height: 100%;
    width: 100%;
}

.info-fieldd img {
    width: 21vw;
    height: 21vw;
    margin: 100px 15% 15%  15%;
    border-radius: 100%;
    background-image: url("../textures/defaultAvatar.jpg");
    background-size: 100% 100%;
}

.name {
    text-align: center;
    color: #FF9E26;
    font-size: 3vw;
    font-weight: 700;
}